
<div class="row">
  <div class="col-6">
    <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar Restaurantes">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Solicitudes de servicio</h4>
        <p class="card-category"> Vista previa de solicitudes </p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th scope="row">#</th>
              <th>Id Servicio</th>
              <th>Fecha del evento</th>
              <th>Fehca de la solicitud</th>
              <th>Servicio</th>
              <th>Estado</th>
              <th>Accion</th>
            </thead>
            <tbody>
              
              <tr *ngFor='let servicio of servicios|filtroServicioo:searchText; index as i'>
                <th scope="row">{{i+1}}</th>
                <td>{{servicio.idServicio}}</td>
                <td>{{servicio.fechaEvento|date:'dd-MM-yyyy'}} </td>
                <td>{{servicio.fechaSolicitud|date:'dd-MM-yyyy'}}</td>
                <td>{{servicio.tipoServicio}}</td>
                <td>{{servicio.estado}}</td>
                <td><a href="#" data-toggle="modal" data-target="#infoSeminarios"
                    (click)="abrir(servicio)" type="button" class="btn btn-primary">Ver
                    solicitud</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
              <ul>
                <li>
                  <a href="https://m.facebook.com/110112510465976">
                    <i class="fab fa-facebook"></i>
                    Facebook
                  </a>
                </li>
                <li>
                  <a href="mailto:logisticaeducativadel@gmail.com">
                    <i class="fas fa-envelope"></i>
                    Email
                  </a>
                </li>
              </ul>
          </nav>
        </div>
      </footer>