<div class="row">
  <div class="col-5">
    Buscar servicio <br>
    <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Por Identificacion, id servicio, etc">
  </div>
  <div class="col-7">
    Sugerencias <br>
    <button id="btn-cancelar" (click)="filtro('Sin revisar')" class="btn ">Sin revisar</button>
    <button id="btn-cancelar" (click)="filtro('Aceptada')" class="btn">Aceptada</button>
    <button id="btn-cancelar" (click)="filtro('')" class="btn">Todas</button>
    <button id="btn-cancelar" (click)="filtro('Taller')" class="btn">Taller</button>
    <button id="btn-cancelar" (click)="filtro('Congreso')" class="btn">Congreso</button>
    <button id="btn-cancelar" (click)="filtro('Seminario')" class="btn">Seminario</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Solicitudes de servicio</h4>
        <p class="card-category"> Vista previa de solicitudes </p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th scope="row">#</th>
              <th>Id Servicio</th>
              <th>Fecha del evento</th>
              <th>Fehca de la solicitud</th>
              <th>Servicio</th>
              <th>Estado</th>
              <th>Accion</th>
            </thead>
            <tbody>
              
              <tr *ngFor='let servicio of servicios|filtroServicio:searchText; index as i'>
                <th scope="row">{{i+1}}</th>
                <td>{{servicio.idServicio}}</td>
                <td>{{servicio.fechaEvento|date:'dd-MM-yyyy'}} </td>
                <td>{{servicio.fechaSolicitud|date:'dd-MM-yyyy'}}</td>
                <td>{{servicio.tipoServicio}}</td>
                <td>{{servicio.estado}}</td>
                <td><a href="#" data-toggle="modal" data-target="#infoSeminarios"
                    (click)="abrir(servicio)" type="button" class="btn btn-primary">Ver
                    solicitud</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
