<div class="col-md-8 container">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Solicitud De Servicio</h4>
      <p class="card-category">Movilidad Academica Nacional e Internacional</p>
    </div>
    <div class="card-body">
      <form id="contenedor">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Id Movilidad</label>
              <input id="txtIdentificacion" type="text" class="form-control" formControlName="idMovilidad">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Fecha del Evento</label>
              <input id="txtIdentificacion" type="text" class="form-control" formControlName="fechaEvento">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Destino</label>
              <input id="txtPNombre" type="text" class="form-control" formControlName="destino">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Noches de Alojamiento</label>
              <input id="txtSNombre" type="text" class="form-control" formControlName="nocheAlojamiento"
                placeholder="ingrese el numero de noches">
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Tipo de Acomodacion</label>
              <select class="custom-select" formControlName="tipoAcomodacion">
                <option selected>Seleccione</option>
                <option value="1">Sencilla</option>
                <option value="2">Multiple</option>
                <option value="3">Habitacion Individual</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Tipo de Hotel</label>
              <select class="custom-select " formControlName="tipoHotel">
                <option selected>Seleccione</option>
                <option value="1">Sencillo</option>
                <option value="2">3 Estella</option>
                <option value="2">4 Estella</option>
                <option value="2">5 Estella</option>
              </select>
            </div>
          </div>


          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating">Transporte</label>
              <select class="custom-select " formControlName="transporte">
                <option selected>Seleccione</option>
                <option value="1">Terrestre</option>
                <option value="2">Aereo</option>
              </select>
            </div>

          </div>
          <div class="col-12">
            <div>
              <label class="bmd-label-floating">Refrigerio (Precione la tecla "CTRL + Click" para seleccionar varias opciones)</label>
            </div>
            <select [(ngModel)]="refrigerio"  class="form-control" multiple="multiple">
              <option value="1">Mañana</option>
              <option value="2">Tarde</option>
              <option value="3">Noche</option>
              <option value="4">Transporte</option>
            </select>
          </div>
          <div class="col-12">
            <div>
              <label class="bmd-label-floating">Plan de Alimentacion (Precione la tecla "CTRL + Click" para seleccionar varias opciones)</label>
            </div>
            <select [(ngModel)]="planAlimentacion"  class="form-control" multiple="multiple">
              <option value="1">Desayuno</option>
              <option value="2">Almuerzo</option>
              <option value="3">Cena</option>
            </select>
          </div>
          <hr>
          <hr>
          <div class="col-12">
            <div class="row">
              <div class="form-group col-sm">
                <label class="bmd-label-floating">Aconpañamiento Guia: </label>
                <div class="host">
                  <input type="checkbox" id="toggle-button-checkbox9" (click)="cambiarGuia()">
                  <label class="toggle-button-switch" for="toggle-button-checkbox9"></label>
                  <div class="toggle-button-text">
                    <div class="toggle-button-text-on">SI</div>
                    <div class="toggle-button-text-off">NO</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm">
                <label class="bmd-label-floating">Visita Tecnica </label>
                <div class="host">
                  <input type="checkbox" id="toggle-button-checkbox10" (click)="cambiarVisita()">
                  <label class="toggle-button-switch" for="toggle-button-checkbox10"></label>
                  <div class="toggle-button-text">
                    <div class="toggle-button-text-on">SI</div>
                    <div class="toggle-button-text-off">NO</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm">
                <label class="bmd-label-floating">Seguro de Viaje: </label>
                <div class="host">
                  <input type="checkbox" id="toggle-button-checkbox11" (click)="cambiarSeguro()">
                  <label class="toggle-button-switch" for="toggle-button-checkbox11"></label>
                  <div class="toggle-button-text">
                    <div class="toggle-button-text-on">SI</div>
                    <div class="toggle-button-text-off">NO</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="col-12">
            <div class="row">
              <div class="form-group col-4">
                <label class="bmd-label-floating">Organizacion de Agenda: </label>
                <div class="host">
                  <input type="checkbox" id="toggle-button-checkbox12" (click)="cambiarAgenda()">
                  <label class="toggle-button-switch" for="toggle-button-checkbox12"></label>
                  <div class="toggle-button-text">
                    <div class="toggle-button-text-on">SI</div>
                    <div class="toggle-button-text-off">NO</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label class="bmd-label-floating">Costo por entrada: </label>
                <div class="host">
                  <input type="checkbox" id="toggle-button-checkbox13" (click)="cambiarCosto()">
                  <label class="toggle-button-switch" for="toggle-button-checkbox13"></label>
                  <div class="toggle-button-text">
                    <div class="toggle-button-text-on">SI</div>
                    <div class="toggle-button-text-off">NO</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating">Observaciones</label>
              <textarea formControlName="observacion" class="form-control" id="exampleFormControlTextarea1"
                rows="3"></textarea>
            </div>
          </div>
          <div>
            <button type="button" id="btn-registro" (click)="Prueba()" class="btn  pull-right">Solicitar
              Servicio</button>
            <button type="reset" id="btn-cancelar" class="btn  pull-right">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>