<div class="col-md-8 container">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Solicitud De Servicio</h4>
      <p class="card-category">Movilidad Academica Nacional e Internacional</p>
    </div>
    <div class="card-body">
      <form [formGroup]="formGroup" id="contenedor" >
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Fecha del Evento</label>
              <input id="txtIdentificacion" type="date" class="form-control" formControlName="fechaEvento">
            </div>
          </div>
        </div>
        <div class="row"> 
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Destino</label>
              <input id="txtPNombre" type="text" class="form-control" formControlName="destino"
                [ngClass]="{ 'is-invalid': control.destino.errors && control.destino.touched}">
              <div *ngIf="control.destino.errors && control.destino.touched" class="invalid-feedback">
                <div *ngIf="control.destino.errors.required">Se require el id del servicio</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Noches de Alojamiento</label>
              <input id="txtSNombre" type="text" class="form-control" formControlName="nocheAlojamiento"
                [ngClass]="{ 'is-invalid': control.nocheAlojamiento.errors && control.nocheAlojamiento.touched}"
                placeholder="ingrese el numero de noches">
              <div *ngIf="control.nocheAlojamiento.errors && control.nocheAlojamiento.touched" class="invalid-feedback">
                <div *ngIf="control.nocheAlojamiento.errors.required">Se require el id del servicio</div>
              </div>
            </div>
          </div>


         <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Tipo de Acomodacion</label>
              <select (change)="cambiarTipoAcomodacion($event)" class="custom-select" formControlName="tipoAcomodacion">
                <option selected>Seleccione</option>
                <option>Sencilla</option>
                <option>Multiple</option>
                <option>Habitacion Individual</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Tipo de Hotel</label>
              <select (change)="cambiarTipoHotel($event)" class="custom-select " formControlName="tipoHotel">
                <option selected>Seleccione</option>
                <option>Sencillo</option>
                <option>3 Estella</option>
                <option>4 Estella</option>
                <option>5 Estella</option>
              </select>
            </div>
          </div>


          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating">Transporte</label>
              <select (change)="cambiarTransporte($event)" class="custom-select " formControlName="transporte">
                <option selected>Seleccione</option>
                <option>Terrestre</option>
                <option>Aereo</option>
              </select>
            </div>

          </div>
          <div class="col-6">
            <label class="bmd-label-floating">Pla de alimentacion </label>
            <select class="custom-select " formControlName="alimentacion"  [(ngModel)]="seleccionados1" multiple="multiple" >
            <option [value]="item" *ngFor="let item of lista1">{{item}}</option>
            </select>
                                    
          </div>

          <hr>

          <div class="col-6" >
            <label class="bmd-label-floating">Refrigerio </label>
            <select  class="custom-select "formControlName="refrigerio"  [(ngModel)]="seleccionados" multiple="multiple" >
            <option [value]="item" *ngFor="let item of lista">{{item}}</option>
            </select>
                                    
          </div>
          <hr>
          <hr>
          <div class="col-12">
            <div class="row">
              <div class="form-group col-sm">
                <label class="bmd-label-floating">Aconpañamiento Guia: </label>
                <div class="host">
                  <input type="checkbox" id="toggle-button-checkbox9" (click)="cambiarGuia()">
                  <label class="toggle-button-switch" for="toggle-button-checkbox9"></label>
                  <div class="toggle-button-text">
                    <div class="toggle-button-text-on">SI</div>
                    <div class="toggle-button-text-off">NO</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm">
                <label class="bmd-label-floating">Visita Tecnica </label>
                <div class="host">
                  <input type="checkbox" id="toggle-button-checkbox10" (click)="cambiarVisita()">
                  <label class="toggle-button-switch" for="toggle-button-checkbox10"></label>
                  <div class="toggle-button-text">
                    <div class="toggle-button-text-on">SI</div>
                    <div class="toggle-button-text-off">NO</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm">
                <label class="bmd-label-floating">Seguro de Viaje: </label>
                <div class="host">
                  <input type="checkbox" id="toggle-button-checkbox11" (click)="cambiarSeguro()">
                  <label class="toggle-button-switch" for="toggle-button-checkbox11"></label>
                  <div class="toggle-button-text">
                    <div class="toggle-button-text-on">SI</div>
                    <div class="toggle-button-text-off">NO</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="col-12">
            <div class="row">
              <div class="form-group col-4">
                <label class="bmd-label-floating">Organizacion de Agenda: </label>
                <div class="host">
                  <input type="checkbox" id="toggle-button-checkbox12" (click)="cambiarAgenda()">
                  <label class="toggle-button-switch" for="toggle-button-checkbox12"></label>
                  <div class="toggle-button-text">
                    <div class="toggle-button-text-on">SI</div>
                    <div class="toggle-button-text-off">NO</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label class="bmd-label-floating">Costo por entrada: </label>
                <div class="host">
                  <input type="checkbox" id="toggle-button-checkbox13" (click)="cambiarCosto()">
                  <label class="toggle-button-switch" for="toggle-button-checkbox13"></label>
                  <div class="toggle-button-text">
                    <div class="toggle-button-text-on">SI</div>
                    <div class="toggle-button-text-off">NO</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating">Observaciones</label>
              <textarea formControlName="objervacion" class="form-control" id="exampleFormControlTextarea1"
                rows="3"></textarea>
            </div>
          </div>

        </div>
        <button type="button" id="btn-registro" class="btn pull-right btn-primary" (click)="onSubmit()"
          [disabled]="formGroup.invalid">
          <span *ngIf="loading" [disabled]="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Registrar</button>
        <button type="reset" id="btn-cancelar" class="btn  pull-right">Cancelar</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>