<div class="row">
    <div class="col-6">
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar movilidad">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Solicitudes de servicio</h4>
                <p class="card-category"> Vista previa de solicitudes </p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th scope="row">#</th>
                            <th>IdMovilidad</th>
                            <th>Identificacion del cliente</th>
                            <th>Nombre del cliente</th>
                            <th>Fecha evento</th>
                            <th>Fecha solicitud</th>
                            <th>Destino</th>
                            <th>Estado</th>
                            <th>Accion</th>
                        </thead>
                        <tbody>
                            <tr *ngFor='let movilidad of movilidades|filtroMovilidad:searchText ; index as i'>
                                <th scope="row">{{i+1}}</th>
                                <td>{{movilidad.idMovilidad}}</td>
                                <td>{{movilidad.idCliente}} </td>
                                <td>{{movilidad.nombreCliente}}</td>
                                <td>{{movilidad.fechaEvento|date:'dd-MM-yyyy'}} </td>
                                <td>{{movilidad.fechaSolicitud|date:'dd-MM-yyyy'}}</td>
                                <td>{{movilidad.destino}}</td>
                                <td>{{movilidad.estado}}</td>
                                <td><a href="#" data-toggle="modal" data-target="#infoSeminarios"
                                        (click)="abrir(movilidad)" type="button"
                                        class="btn btn-primary">Ver
                                        solicitud</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
